
 body{
  width: 90%;
  max-width: 960px;
  margin-left:auto;
  margin-right:auto;
} 

h1

.lemonsquares{
  width:40%;
  margin:auto;
  display:block;
}

#fixed-size-grid-items ul {
  list-style: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}


